@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 110vh;
    }

html{
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #F69227;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* navbart styling */
.navbart{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    
}
.navbart.sticky{
    padding: 3px 0;
    background: #F69227;
}
.navbart .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbart .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbart .logo a span img{
    max-width: 3em;
}
.navbart.sticky .logo a span{
    color: rgb(0, 0, 0);
}
.navbart .menu{
    padding-top: .5em;
}
.navbart .menu li{
    list-style: none;
    display: inline-block;
}
.navbart .menu li a{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbart .menu li a:hover{
    color: #FFF100;
}
.navbart.sticky .menu li a:hover{
    color: white;
}
.navbart a{
    text-decoration: none;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
}
.header{
    padding-top: 9em;
    padding-bottom:5em;
    padding-left: 10%;
    padding-right: 10%;
}
.header .h1{
    text-align: center;
}

.header1 .h1{
    text-align: center;
}
.navbart2{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background: #F69227;
}
.navbart2.sticky{
    padding: 3px 0;
    background: #F69227;
}
.navbart2 .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbart2 .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbart2 .logo a span img{
    max-width: 3em;
}
.navbart2.sticky .logo a span{
    color: rgb(0, 0, 0);
}
.navbart2 .menu{
    padding-top: .5em;
}
.navbart2 .menu li{
    list-style: none;
    display: inline-block;
}
.navbart2 .menu li a{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbart2 .menu li a:hover{
    color: #FFF100;
}
.navbart2.sticky .menu li a:hover{
    color: white;
}
.navbart2 a{
    text-decoration: none;
}
.header h1{
    text-align: center;
}

/* home sec styling */
.home{
    background: url("https://spritan.github.io/Freelance_1/Assets/img/1.jpg") no-repeat center;
    height: 100%;
    color: white;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;

}
.home .max-width{
  width: 100%;
  align-items: center;

}
.home .about-content{
    padding-top: 20%;
    }
.home .home-content .text-1{
    font-size: 49px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #FFF100;
    font-weight: 800;
}
.home .home-content a{
    text-decoration: none;
    display: inline-block;
    background: #FFF100;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #FFF100;
    transition: all 0.3s ease;
    align-items: center;
}
.home .home-content a:hover{
    color: #FFF100;
    background: none;
}
.home_img{
    max-width: 35%;
    padding: 10px;
}
.home .home-content .text-2{
        font-size: 70px;
}
.home .home-content .text-3{
        font-size: 35px;
}
.home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
        color:black;
}

/*Why us*/
.why-us{
    padding-top: 2em;
}

.container .logo a span img{
    max-height: 6em;  
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about-content .lf{
    width: 40%;
    text-align: center;
}
.about-content .lf img{
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 6px;
    ;
}
.about-content .rt{
    width: 60%;
}
.about-content .rt .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-content .rt .text span{
    color: crimson;
}
.about-content .rt p{
    text-align: justify;
}
.about-content .rt a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about-content .rt a:hover{
    color: crimson;
    background: none;
}

.about-content .lf2{
    width: 33%;
    text-align: left;
    padding-left: 3em;

}
.about-content .mid{
    width: 33%;
    padding-left: 3em;
}
.about-content .rt2{
    width: 33%;
    padding-left: 3em;
}
.about-content .lf3{
    width: 50%;
    text-align: left;
    padding-left: 3em;

}

.about-content .rt3{
    width: 50%;
    padding-left: 3em;
}

/*COURSES*/
.courses{
    width: 90%;
    height: 100%;
    left: 1299px;
    top: 2859px;
    float: right;
    background: rgba(93, 3, 170, 0.38);
    border-radius: 0px 0px 0px 141px;
}
.courses_d{
    display:block;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.row1 {
    margin: 8px -16px;
  }
  .row1,
  .row1 > .column1 {
    padding: 8px;
  }
.column1 {
    float: left;
    width: 25%;
  }
.row1 {
    margin: 8px -16px;
  }
.row1:after {
    content: "";
    display: table;
    clear: both;
  }
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    left: 122px;
    top: 2105px;
    background: #C6B8FF;
    border-radius: 50px;
    height: 100%
  }
.card2 p{
    text-align: left;
  }

/*STUDENT*/
.review-section{
    margin-top: 75%;
    background-color: #CADBFE;
    width: 95%;
    height: 100%;
    border-top-right-radius: 141px;
}
.review-main{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    height: 80vh;
}
.review-card{
    background-color: #C6B8FF;
    margin-top: 0;
    margin-bottom: 29px;
    width: 570px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.review-image{
    width: 66px;
    aspect-ratio: 1;
    background-color: #000;
    margin-left: 50px;
    border-radius: 50%;
}

.review-text{
    margin-left: 60px;
    padding-top: 38px;
    width: 60%;
    padding-bottom: 10px;
    font-size: 20px;
    position: relative;
}

.review-text p{
    margin-bottom: 0;
}

.review span{
    float: right;
    font-weight: 600;
}
.second-card{
    float: right;
}

.review h1{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 130px;
    margin-top: 0;
    margin-bottom: 100px;
    padding-top: 20px;
    position: relative;
}

.review h1::after{
    content:'';
    position: absolute;
    width: 190px;
    height: 12px;
    background-color: #D92F30;
    top: 90px;
    left: 130px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.review-text::before{
    content:'“';
    font-family: sans-serif;
    position: absolute;
    scale: 10;
    opacity: 0.2;
    top: 100px;
}
/* footer sec styling */

.footer {
    background: #212121;
    color: white;
    text-align: center;
    padding: 2.5em 0 ;
    font-size: 1.7em;

}
footer span{
    font-size: .7em;
}

footer span a{
    color: #FFF100;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

.footer a { 
    
    color: #FFF100;
    text-decoration: none;
}

.footer__link {
    font-weight: 700;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding-bottom: 2.5em;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.column{
    width: calc(50% - 30px);
    margin-bottom: 35px;
}

.ft{
     text-align: left;
}
/* Lightbox */

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
@media(max-width: 1536px){
    .home .about-content{
    padding-top: 10%;
    }
}
@media(max-width: 1920px){
    .review-section{
        height:50em;
    }
}
@media(max-width: 1593px){
    .review-section{
        margin-top: 90%;
    }
}
@media(max-width: 1431px){
    .review-section{
    margin-top: 100%;
    }
}
@media(max-width:1336px){
    .review-section{
    margin-top: 110%;
    }
}
@media(max-width:1258px){
    .review-section{
    margin-top: 120%;
    }
}
@media(max-width:1168px){
    .review-section{
    margin-top: 130%;
    }
}
@media(max-width:1168px){
    .review-section{
    margin-top: 150%;
    }
}
@media (max-width: 1104px) {
    .about-content .left img{
        max-height: 350px;
        max-width: 350px;
    }
        .column1 {
    float: left;
    width: 33%;
  }
}
@media (max-width: 1024px) {
    .about-content .left img{
        max-height: 300px;
        max-width: 300px;
    }
}
@media(max-width:1041px){
    .review-section{
    margin-top: 160%;
    }
}
@media(max-width:1015px){
    .review-section{
    margin-top: 170%;
    }
}
@media(max-width:997px){
    .review-section{
    margin-top: 180%;
    }
    .column1 {
    float: left;
    width: 33%;
  }
}
@media (max-width: 991px) {
    .review-section{
    margin-top: 190%;
    }
    .second-card{
    float: left;
}
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: none;
        z-index: 999;
    }
}
@media (min-width: 948px){
    .menu-btn{
        display:none;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbart .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbart .menu.active{
        left: 0;
    }
    .navbart .menu li{
        display: block;
    }
    .navbart .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbart2 .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbart2 .menu.active{
        left: 0;
    }
    .navbart2 .menu li{
        display: block;
    }
    .navbart2 .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about-content .right{
        flex: 100%;
    }
}

@media screen and (max-width: 900px) {
    .review-section{
    margin-top: 210%;
    }
    .column1 {
      width: 50%;
    }
  }
@media(max-width:822px){
    .review-section{
    margin-top: 220%;
    }
}
@media (max-width: 800px) {
    .review-section{
    margin-top: 230%;
    }
  .column1 {
    flex: 50%;
    max-width: 50%;
  }
  
}
@media(max-width:766px){
    .ft{
        text-align: center;
    }
}
@media(max-width: 796px){
    .review-card{
    margin-bottom: 29px;
    max-width: 110%;
    border-radius: 30px;
    align-items: left;
}
    .second-card{
    float: left;
}
}
@media(max-width: 767px){
    .review-section{
    margin-top: 260%;
    }
}
@media(max-width: 739px){
    .review-section{
    margin-top: 270%;
    }
}
@media (max-width: 691px) {
    .max-width{
        padding: 0 23px;
    }
    .review-section{
    margin-top: 270%;
    }
   #ig{
       display: none;
   }

}
@media (max-width: 690px) {
    .home{
        padding-left: 0;
    }

    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .about-content .lf img{
    max-height: 300px;
    max-width: 300px;
   }


}
@media(max-width: 640px){
    .review-section{
    margin-top: 400%;
    }
}
@media (max-width: 600px) {
  .column1 {
    flex: 100%;
    max-width: 100%;
  }
      .navbart.sticky{
    padding: 0 0;
    }
      .navbart2.sticky{
    padding: 0 0;
    }
    .navbart .logo a span img{
    max-width: 1em;
}
    .navbart2 .logo a span img{
    max-width: 1em;
}
    .review-section{
    margin-top: 570%;
    }
    .about-content .lf img{
    max-height: 300px;
    max-width: 300px;
   }

}
@media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
    }

    
}
@media(max-width: 575px){
    .review-section{
    margin-top: 590%;
    }
}
@media(max-width: 555px){
    .review-section{
    margin-top: 600%;
    }
}
@media(max-width: 540px){
    .review-section{
    margin-top: 610%;
    width: 100%;
    }
}
@media (max-width: 500px) {
    .home{
        padding-left: 0;
    }
    .about-content .lf img{
    max-height: 300px;
    max-width: 300px;
   }
    .about-content .right .text{
        font-size: 19px;
    }
    .courses{
        width:100%;
    }
    .review-section{
    margin-top: 675%;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}
@media(max-width: 481px){
    .review-section{
    margin-top: 700%;
    height: 55em;
    }
}
@media(max-width: 464px){
    .review-section{
    margin-top: 720%;
    }
}
@media(max-width: 450px){
    .review-section{
    margin-top: 740%;
    }
}
@media(max-width: 414px){
    .review-section{
    margin-top: 800%;
    height: 67em;
    }
}
@media (max-width: 375px) {
    about .about-content .lf img{
    max-height: 330px;
    max-width: 330px;
   }
@media(max-width: 384px){
    .review-section{
    margin-top: 850%;
    height: 70em;
    }
}
@media(max-width: 360px){
    .review-section{
    margin-top: 950%;
    height: 77em;
    }
    .home .about-content{
        padding-top: 30%;
        }
}
@media(max-width: 320px){
    .review-section{
    margin-top: 1070%;
        height: 87em;
    }
}
@media (max-width: 290px) {
    .about .about-content .lf img{
    max-height: 260px;
    max-width: 260px;
   }

}
@media(max-width: 280px){
    .review-section{
    margin-top: 1340%;
    }
}
@media(max-width: 240px){
    .review-section{
    margin-top: 1950%;
    }
}